In [8]:
import csv
import pandas as pd
from sklearn.utils import shuffle
import numpy as np

In [37]:
train_file = 'mitbih_train.csv'
test_file = 'mitbih_test.csv'
data_train = pd.read_csv(train_file, header=None)
print(data_train.head())
data_0 = data_train[data_train[187] == 0]
data_1 = data_train[data_train[187] == 1]
data_2 = data_train[data_train[187] == 2]
data_3 = data_train[data_train[187] == 3]
data_4 = data_train[data_train[187] == 4]
print(data_0.shape, data_1.shape, data_2.shape, data_3.shape, data_4.shape)

        0         1         2         3         4         5         6    \
0  0.977941  0.926471  0.681373  0.245098  0.154412  0.191176  0.151961
1  0.960114  0.863248  0.461538  0.196581  0.094017  0.125356  0.099715
2  1.000000  0.659459  0.186486  0.070270  0.070270  0.059459  0.056757
3  0.925414  0.665746  0.541436  0.276243  0.196133  0.077348  0.071823
4  0.967136  1.000000  0.830986  0.586854  0.356808  0.248826  0.145540

        7         8         9    ...  178  179  180  181  182  183  184  185  \
0  0.085784  0.058824  0.049020  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.088319  0.074074  0.082621  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.043243  0.054054  0.045946  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.060773  0.066298  0.058011  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.089202  0.117371  0.150235  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

   186  187
0  0.0  0.0
1  0.0  0.0
2  0.0  0.0
3  0.0  0.0
4  0.0  0.0

[5 rows x 188 columns]
(72471, 188) (2223, 188) (5788, 188) (641, 188) (6431, 188)

In [ ]:
print(data_1.head())

In [42]:
data_test = pd.read_csv(test_file, header = None)

In [20]:
print(data_test.shape)
data_0_test = data_test[data_test[187] == 0]
data_1_test = data_test[data_test[187] == 1]
data_2_test = data_test[data_test[187] == 2]
data_3_test = data_test[data_test[187] == 3]
data_4_test = data_test[data_test[187] == 4]
print(data_0_test.shape, data_1_test.shape, data_2_test.shape, data_3_test.shape, data_4_test.shape)

(21892, 188)
(18118, 188) (556, 188) (1448, 188) (162, 188) (1608, 188)

In [12]:
data_0_sampled = data_0.sample(frac=0.1, random_state=42)

# Combine the remaining data for all classes
remaining_data = pd.concat([data_1, data_2, data_3, data_4])

# Combine the sampled data with the remaining data
combined_data = pd.concat([data_0_sampled, remaining_data])

# Optionally, shuffle the combined data
combined_data = combined_data.sample(frac=1, random_state=42)

# Print the shapes of the resulting dataframes
print(data_0_sampled.shape, remaining_data.shape, combined_data.shape)

(7247, 188) (15083, 188) (22330, 188)

In [16]:
combined_data.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
43012,1.000000,0.983299,0.643006,0.114823,0.000000,0.208768,0.308977,0.290188,0.269311,0.273486,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78909,0.000000,0.000000,0.017327,0.040842,0.066832,0.090347,0.105198,0.097772,0.096535,0.084158,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
83821,0.831987,0.759289,0.693053,0.583199,0.428110,0.252019,0.140549,0.037157,0.025848,0.043619,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
67874,0.912821,0.717949,0.248718,0.033333,0.048718,0.053846,0.025641,0.005128,0.007692,0.015385,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81765,0.884921,0.555556,0.579365,0.579365,0.595238,0.567460,0.527778,0.412698,0.257937,0.019841,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [44]:
data_0_test_sampled = data_test[data_test[187] == 0].sample(frac=0.1, random_state=42)

# Combine the remaining data for other classes
data_1_test = data_test[data_test[187] == 1]
data_2_test = data_test[data_test[187] == 2]
data_3_test = data_test[data_test[187] == 3]
data_4_test = data_test[data_test[187] == 4]

# Combine sampled data with the remaining data
combined_data_test = pd.concat([data_0_test_sampled, data_1_test, data_2_test, data_3_test, data_4_test])
combined_data_test = combined_data_test.sample(frac=1, random_state=42)
# Print the shapes of the resulting dataframes
print(data_0_test_sampled.shape, data_1_test.shape, data_2_test.shape, data_3_test.shape, data_4_test.shape)
print(combined_data_test.shape)

(1812, 188) (556, 188) (1448, 188) (162, 188) (1608, 188)
(5586, 188)

In [53]:
combined_data_test.to_csv('test_mitbih_new.csv', index=False)
combined_data.to_csv('train_mitbih_new.csv', index=False)

In [14]:
train_file = 'train_mitbih_new.csv'
test_file = 'test_mitbih_new.csv'
data_train = pd.read_csv(train_file, header=0)
data_test = pd.read_csv(test_file, header=0)
print(data_train.shape)
print(data_test.shape)

x_train = data_train.iloc[:, :-1].values
y_train = data_train.iloc[:, -1].values
x_test = data_test.iloc[:, :-1].values
y_test = data_test.iloc[:, -1].values
x_train_total = x_train.copy()
y_train_total = y_train.copy()

(22330, 188)
(5586, 188)

In [61]:
data_train.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,1.000000,0.983299,0.643006,0.114823,0.000000,0.208768,0.308977,0.290188,0.269311,0.273486,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.017327,0.040842,0.066832,0.090347,0.105198,0.097772,0.096535,0.084158,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.831987,0.759289,0.693053,0.583199,0.428110,0.252019,0.140549,0.037157,0.025848,0.043619,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
3,0.912821,0.717949,0.248718,0.033333,0.048718,0.053846,0.025641,0.005128,0.007692,0.015385,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.884921,0.555556,0.579365,0.579365,0.595238,0.567460,0.527778,0.412698,0.257937,0.019841,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [15]:
x_train.shape
y_train[0]

0.0

In [5]:
def magnitude_warp(x, sigma, knot=4):
    from scipy.interpolate import CubicSpline
    orig_steps = np.arange(x.shape[1])
    
    random_warps = np.random.normal(loc=1.0, scale=sigma, size=(x.shape[0], knot+2, x.shape[2]))
    warp_steps = (np.ones((x.shape[2],1))*(np.linspace(0, x.shape[1]-1., num=knot+2))).T
    ret = np.zeros_like(x)
    for i, pat in enumerate(x):
        warper = np.array([CubicSpline(warp_steps[:,dim], random_warps[i,:,dim])(orig_steps) for dim in range(x.shape[2])]).T
        ret[i] = pat * warper
    return ret

In [16]:
x_train = x_train.reshape(x_train.shape[0], x_train.shape[1], 1)

In [17]:
augment_value = 0.1
x_train_augment_initial = magnitude_warp(x_train, augment_value, 4)

In [12]:
print(x_train.shape)

(22330, 1, 187)

In [13]:
print(x_train[0])

[[1.         0.98329854 0.64300627 0.11482254 0.         0.20876826
  0.30897704 0.2901879  0.26931107 0.27348644 0.27557412 0.2901879
  0.2901879  0.28183717 0.28601253 0.29436326 0.28392485 0.27974948
  0.28810021 0.2901879  0.29645094 0.29853863 0.30062631 0.31732777
  0.3256785  0.32776618 0.32985386 0.34446764 0.348643   0.34029227
  0.348643   0.35699373 0.35490605 0.34237996 0.35281837 0.34446764
  0.33194155 0.32150313 0.31732777 0.31106472 0.30688936 0.30897704
  0.30480167 0.30480167 0.30271399 0.29853863 0.30271399 0.30688936
  0.31524009 0.30897704 0.3131524  0.32150313 0.31941545 0.3131524
  0.31524009 0.32150313 0.31941545 0.30897704 0.31524009 0.31106472
  0.31106472 0.30480167 0.30271399 0.30480167 0.3131524  0.30271399
  0.29645094 0.29436326 0.30062631 0.29227558 0.29227558 0.29645094
  0.29645094 0.29227558 0.29436326 0.30062631 0.29227558 0.29227558
  0.29853863 0.30062631 0.29645094 0.28810021 0.29645094 0.29853863
  0.29645094 0.29227558 0.28810021 0.30062631 0.30271399 0.29645094
  0.2901879  0.30480167 0.30271399 0.29227558 0.30062631 0.31524009
  0.32776618 0.33194155 0.34655532 0.35908142 0.35699373 0.34237996
  0.33611691 0.31732777 0.31732777 0.29853863 0.27348644 0.29645094
  0.30897704 0.30897704 0.32776618 0.35699373 0.38204592 0.40083507
  0.45720249 0.52400833 0.5553236  0.62212944 0.80375785 0.98956156
  0.94989562 0.61795408 0.14405011 0.02505219 0.2045929  0.30688936
  0.29436326 0.28601253 0.28601253 0.28392485 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]]